html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --primary-color-background-root: #1b263b;
  --primary-color-text: #e0e1dd;
  --primary-color-background-button: #778da9;
  --secondary-color: #415a77;
  --secondary-background-info-card: #0d1b2a;
}
