.container {
  display: grid;
  width: 90%;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 1rem;
  padding-block: 2rem;
}
.container__message {
  text-align: center;
  font-weight: 700;
  margin-top: 1rem;
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: var(--primary-color-text);
}
